/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    /* overflow: hidden; */
    /* height: 100vh; */
}

/* Container principal */
form {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 600px;
    /* overflow: hidden; */
}
.form{
    height: 300px;
}

/* Título principal */
h1 {
    text-align: center;
}

/* Estilo dos rótulos e inputs */
form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo do botão */
form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 800px){
    body{
        display: flex;
        flex-direction: column;
    }
}
