@font-face {
    font-family: inter;
    src: url(../fontes/Inter_18pt-Bold.ttf);
}

body {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}
.inicio{
    display: flex;
}
.user{
    flex-grow: 1;
    padding: 20px;
    color: #000;
}
.header {
    text-align: center;
    margin: 5%;
    padding: 10px;
}
.header h1 {
    margin: 12px;
    text-align: center;
}
.filtro a{
    background-color: #010326;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.filtro input {
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
}
.filtro button {
    background-color: #010326;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result{
    margin-top: 5%;
}
table {
    width: 100%;
    margin-top: 10px;
}
table, th, td {
    border: 0px;
    border-radius: 10px;
}
th, td{
    padding: 10px;
    text-align: left;
    color: #000;
}
th {
    background-color: #010326;
    color: #fff;
}
.result tr:hover{
    background-color: #d9d9d9;
}
.opcao button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 5px;
    font-size: 16px;
}
.pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.pagina button {
    background-color: #010326;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagina .pages span {
    padding: 0 5px;
    cursor: pointer;
}
.pagina .pages .active {
    font-weight: bold;
    text-decoration: underline;
}