body {
    font-family: Arial, sans-serif;
    background-color: #010326;
    color: #fff;
    margin: 0;
    padding: 0;
}
.inicio{
    display: flex;
}
.corpo{
    background-color: #595959;
    margin: 25px;
    padding: 15px;
    width: 250px;
    height: 100vh;
}
.corpo img {
    width: 80px;
    margin-bottom: 20px;
}
.corpo nav a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    font-size: 18px;
    padding: 10px 15px;
}
.corpo a:hover{
    background-color: #8c8c8c;
    color: #000;
    border-radius: 10px;
}
.user{
    flex-grow: 1;
    padding: 20px;
    color: #fff;
}
.header {
    text-align: center;
    margin: 5%;
    padding: 10px;
}
.header h1 {
    margin: 12px;
    text-align: center;
}
.filtro a{
    background-color: #8c8c8c;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
}
.filtro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.filtro input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #8c8c8c;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #000;
}
.filtro button {
    background-color: #8c8c8c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.result{
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #333;
    color: #ccc;
}
table, th, td {
    border: 1px solid #555;
}
th, td {
    padding: 10px;
    text-align: left;
    color: #fff;
}
th {
    background-color: #8c8c8c;
    color: #000;
}
.opcao button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 5px;
    font-size: 16px;
}
.pagina{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.pagina button {
    background-color: #8c8c8c;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.pagina .pages span {
    padding: 0 5px;
    cursor: pointer;
}
.pagina .pages .active {
    font-weight: bold;
    text-decoration: underline;
}