*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: inter;
    src: url(../fontes/Inter_18pt-Bold.ttf);
}

body{
    font-family: inter;
    background-color: #cecece;
}
h1{
    color: #000;
    font-size: 36px;
    padding: 2%;
}
input{
    border: #000;
    border-radius: 15px;
    padding: 10px;
    padding-right: 15%;
    text-align: left;
    margin: 2%;
}
.criar a{
    color: #000;
    text-decoration:  none;
    
}
table.listagem {
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;
}
table.listagem thead tr {
    background-color: #595959;
    color: #fff;
    padding: 10px;
}
table.listagem thead tr th {
    padding: 5px;
}
table.listagem tbody tr:hover {
    cursor: pointer;
}