* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #444;
}

.menu-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.menu-button:hover {
    text-decoration: underline;
}

.sidebar-footer {
    padding: 20px;
    border-top: 1px solid #444;
    text-align: center;
}

.config-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.config-button:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;

}

.main-header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.content {
    padding: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.container-box {
    padding: 10px;
    background-color: #d3d3d3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-box img {
    width: 150px;
    height: 150px;
}

.register-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

.register-button:hover {
    background-color: #333;
}
